<nav class="absolute left-96 rounded-xl ">
  <div class="absolute inset-0 bg-blue-800 pt-4  rounded-xl " style="background-color: #373F68;   ">

    <div class="inline-flex ml-10 text-white space-x-8 py-2">
      <div class="py-0">
        <img src="assets/light.svg" alt="" srcset="" class="w-5 ml-0 top-5 ">
      </div>
      <h4 class="font-bold">6 Suggestions</h4>


      <!-- <p>sort by: </p> -->
      <div class="">
        sort by : Most Upvotes

      </div>
      <img src="assets/top.svg" alt="" srcset="" class="w-5 ml-2 top-5 cursor-pointer rotate-180">

    </div>

    <button class="w-158 h-10 right rounded-lg text-white pl-5 pr-5 bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2">
  + Add Feedback
  </button>
  </div>
  <!-- Your navbar content goes here -->


</nav>
